<section class="container advantages">
  <div class="container list-advantages-container">
    <h2 class="visually-hidden">our advantages with a yacht</h2>
    <ol class="advantages-list">
      <li class="advantages-item">
        <div class="advantages-item-list">
          <span class="advantages-number">01</span>
          <div class="advantages-line"></div>
          <p class="advantages-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-list">
          <span class="advantages-number">02</span>
          <div class="advantages-line"></div>
          <p class="advantages-text">Fishing: try to catch your own dinner</p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-list">
          <span class="advantages-number">03</span>
          <div class="advantages-line"></div>
          <p class="advantages-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-list">
          <span class="advantages-number">04</span>
          <div class="advantages-line"></div>
          <p class="advantages-text">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </div>
      </li>
    </ol>
  </div>
  <div class="advantages-image-container">
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          /img/advantages/adv-mob.jpg    1x,
          /img/advantages/adv-mob-2x.jpg 2x
        "
      />
      <source
        media="(max-width: 1279px)"
        srcset="
          /img/advantages/adv-tab.jpg    1x,
          /img/advantages/adv-tab-2x.jpg 2x
        "
      />
      <source
        media="(max-width: 1439px)"
        srcset="
          /img/advantages/adv1280.jpg    1x,
          /img/advantages/adv1280-2x.jpg 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/advantages/adv1440.jpg    1x,
          /img/advantages/adv1440-2x.jpg 2x
        "
      />
      <img
        src="/img/advantages/adv1440.jpg"
        alt="dining area on the yacht"
        width="704"
        height="424"
      />
    </picture>
  </div>
</section>
