<div class="container mob-menu js-menu-container" id="mobile-menu">
  <div>
    <div class="header-mob">
      <p class="header-txt-mob">yachtjet</p>
      <button
        type="button"
        class="menu-close-btn js-close-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="28" height="28">
          <use href="/img/icons.svg#icon-close-menu"></use>
        </svg>
      </button>
    </div>
    <nav class="nav">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a class="mob-round-menu mob-menu-link" href="#about-us">About</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-round-menu mob-menu-link" href="#our-yachts">Yachts</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-round-menu mob-menu-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
  <ul class="mob-icon-list">
    <li class="icon-item">
      <a
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        class="mob-icon-link"
        rel="noopener noreferrer"
        ><svg class="mob-item-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-instagram"></use></svg
      ></a>
    </li>
    <li class="icon-item">
      <a
        href="https://www.youtube.com/c/GoIT"
        target="_blank"
        class="mob-icon-link"
        rel="noopener noreferrer"
        ><svg class="mob-item-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-youtube"></use></svg
      ></a>
    </li>
    <li class="icon-item">
      <a
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        class="mob-icon-link"
        rel="noopener noreferrer"
      >
        <svg class="mob-item-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-facebook"></use></svg
      ></a>
    </li>
  </ul>
</div>
