<section class="our-yachts">
  <div class="container yacht-cont">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>

    <div class="blaze-slider yacht-slider">
      <div class="blaze-container">
        <div class="blaze-track-container">
          <ul class="blaze-track">
            <li class="yachts-card">
              <div class="yachts-item-cont">
                <!--  -->
                <picture>
                  <source
                    srcset="
                      /img/yaht/yaht-arrow-mob.jpg    1x,
                      /img/yaht/yaht-arrow-mob-2x.jpg 2x
                    "
                    media="(min-width: 320px)"
                  />
                  <img
                    src="/img/yaht/yaht-arrow-mob.jpg"
                    alt="Arrow"
                    class="yachts-img"
                  />
                </picture>
                <!--  -->
                <div class="sub-cont">
                  <div class="yachts-title-cont">
                    <h3 class="yachts-item-title">Arrow</h3>
                    <h3 class="yachts-item-title-2">LUXURY YAHTS</h3>
                  </div>
                  <div class="yachts-characteristics-cont">
                    <ul class="yachts-char-name-list">
                      <li class="yachts-char-name">
                        <p class="char-name-text">LENGTH</p>
                      </li>
                      <li class="yachts-char-name">
                        <p class="char-name-text">BUILDER</p>
                      </li>
                      <li class="yachts-char-name">
                        <p class="char-name-text">BUILT</p>
                      </li>
                      <li class="yachts-char-name">
                        <p class="char-name-text">GUESTS</p>
                      </li>
                      <li class="yachts-char-name">
                        <p class="char-name-text">PRICE</p>
                      </li>
                    </ul>

                    <ul class="yachts-char-tip-list">
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">48m(155ft)</p>
                      </li>
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">Admiral</p>
                      </li>
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">2021</p>
                      </li>
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">11 in 5 cabins</p>
                      </li>
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">€33,500,000</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="yachts-card">
              <div class="yachts-item-cont">
                <!--  -->
                <picture>
                  <source
                    srcset="
                      /img/yaht/yaht-arrow-mob.jpg    1x,
                      /img/yaht/yaht-arrow-mob-2x.jpg 2x
                    "
                    media="(min-width: 320px)"
                  />
                  <img
                    src="/img/yaht/yaht-arrow-mob.jpg"
                    alt="Arrow"
                    width="320"
                    class="yachts-img"
                  />
                </picture>
                <!--  -->
                <div class="sub-cont">
                  <div class="yachts-title-cont">
                    <h3 class="yachts-item-title">Arrow</h3>
                    <h3 class="yachts-item-title-2">LUXURY YAHTS</h3>
                  </div>
                  <div class="yachts-characteristics-cont">
                    <ul class="yachts-char-name-list">
                      <li class="yachts-char-name">
                        <p class="char-name-text">LENGTH</p>
                      </li>
                      <li class="yachts-char-name">
                        <p class="char-name-text">BUILDER</p>
                      </li>
                      <li class="yachts-char-name">
                        <p class="char-name-text">BUILT</p>
                      </li>
                      <li class="yachts-char-name">
                        <p class="char-name-text">GUESTS</p>
                      </li>
                      <li class="yachts-char-name">
                        <p class="char-name-text">PRICE</p>
                      </li>
                    </ul>

                    <ul class="yachts-char-tip-list">
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">48m(155ft)</p>
                      </li>
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">Admiral</p>
                      </li>
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">2021</p>
                      </li>
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">11 in 5 cabins</p>
                      </li>
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">€33,500,000</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="yachts-card">
              <div class="yachts-item-cont">
                <!--  -->
                <picture>
                  <source
                    srcset="
                      /img/yaht/yaht-arrow-mob.jpg    1x,
                      /img/yaht/yaht-arrow-mob-2x.jpg 2x
                    "
                    media="(min-width: 320px)"
                  />
                  <img
                    src="/img/yaht/yaht-arrow-mob.jpg"
                    alt="Arrow"
                    width="320"
                    class="yachts-img"
                  />
                </picture>
                <!--  -->
                <div class="sub-cont">
                  <div class="yachts-title-cont">
                    <h3 class="yachts-item-title">Arrow</h3>
                    <h3 class="yachts-item-title-2">LUXURY YAHTS</h3>
                  </div>
                  <div class="yachts-characteristics-cont">
                    <ul class="yachts-char-name-list">
                      <li class="yachts-char-name">
                        <p class="char-name-text">LENGTH</p>
                      </li>
                      <li class="yachts-char-name">
                        <p class="char-name-text">BUILDER</p>
                      </li>
                      <li class="yachts-char-name">
                        <p class="char-name-text">BUILT</p>
                      </li>
                      <li class="yachts-char-name">
                        <p class="char-name-text">GUESTS</p>
                      </li>
                      <li class="yachts-char-name">
                        <p class="char-name-text">PRICE</p>
                      </li>
                    </ul>

                    <ul class="yachts-char-tip-list">
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">48m(155ft)</p>
                      </li>
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">Admiral</p>
                      </li>
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">2021</p>
                      </li>
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">11 in 5 cabins</p>
                      </li>
                      <li class="yachts-char-tip">
                        <p class="yachts-char-tip-text">€33,500,000</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button class="our-yachts-btn">Yacht rental</button>
  </div>
</section>
