<section id="our-yachts" class="container our-yachts">
  <h2 class="our-yachts-title">
    Choose your dream yacht and sail away into the sunset
  </h2>

  <div class="blaze-slider yacht-slider">
    <div class="blaze-container">
      <div class="blaze-track-container">
        <ul class="blaze-track">
          <li class="yachts-card">
            <div class="yachts-item-cont">
              <!-- Arrow -->
              <div class="pic-yacht">
                <picture>
                  <source
                    srcset="
                      /img/yaht/yaht-arrow1440.jpg    1x,
                      /img/yaht/yaht-arrow1440-2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      /img/yaht/yaht-arrow1280.jpg    1x,
                      /img/yaht/yaht-arrow1280-2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      /img/yaht/yaht-arrow-tab.jpg    1x,
                      /img/yaht/yaht-arrow-tab-2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />

                  <img
                    srcset="
                      /img/yaht/yaht-arrow-mob.jpg    1x,
                      /img/yaht/yaht-arrow-mob-2x.jpg 2x
                    "
                    src="/img/yaht/yaht-arrow-mob.jpg"
                    alt="Arrow"
                    class="yachts-img"
                  />
                </picture>
              </div>
              <!--  -->
              <div class="sub-cont">
                <div class="yachts-title-cont">
                  <h3 class="yachts-item-title">Arrow</h3>
                  <span class="yachts-item-title-2">LUXURY YAHTS</span>
                </div>
                <div class="yachts-characteristics-cont">
                  <ul class="yachts-char-name-list">
                    <li class="yachts-char-name">
                      <p class="char-name-text">LENGTH</p>
                    </li>
                    <li class="yachts-char-name">
                      <p class="char-name-text">BUILDER</p>
                    </li>
                    <li class="yachts-char-name">
                      <p class="char-name-text">BUILT</p>
                    </li>
                    <li class="yachts-char-name">
                      <p class="char-name-text">GUESTS</p>
                    </li>
                    <li class="yachts-char-name">
                      <p class="char-name-text">PRICE</p>
                    </li>
                  </ul>

                  <ul class="yachts-char-tip-list">
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">48m(155ft)</p>
                    </li>
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">Admiral</p>
                    </li>
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">2021</p>
                    </li>
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">11 in 5 cabins</p>
                    </li>
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">€33,500,000</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="yachts-card">
            <div class="yachts-item-cont">
              <!-- Oasis -->
              <div class="pic-yacht">
                <picture>
                  <source
                    srcset="
                      /img/yaht/yaht-oasis1440.jpg    1x,
                      /img/yaht/yaht-oasis1440-2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      /img/yaht/yaht-oasis1280.jpg    1x,
                      /img/yaht/yaht-oasis1280-2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      /img/yaht/yaht-oasis-tab.jpg    1x,
                      /img/yaht/yaht-oasis-tab-2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />

                  <img
                    srcset="
                      /img/yaht/yaht-oasis-mob.jpg    1x,
                      /img/yaht/yaht-oasis-mob-2x.jpg 2x
                    "
                    src="/img/yaht/yaht-oasis-mob.jpg"
                    alt="Oasis"
                    class="yachts-img"
                  />
                </picture>
              </div>
              <!--  -->
              <div class="sub-cont">
                <div class="yachts-title-cont">
                  <h3 class="yachts-item-title">BENETTI OASIS 40M BO122</h3>
                  <span class="yachts-item-title-2">LUXURY YAHTS</span>
                </div>
                <div class="yachts-characteristics-cont">
                  <ul class="yachts-char-name-list">
                    <li class="yachts-char-name">
                      <p class="char-name-text">LENGTH</p>
                    </li>
                    <li class="yachts-char-name">
                      <p class="char-name-text">BUILDER</p>
                    </li>
                    <li class="yachts-char-name">
                      <p class="char-name-text">BUILT</p>
                    </li>
                    <li class="yachts-char-name">
                      <p class="char-name-text">GUESTS</p>
                    </li>
                    <li class="yachts-char-name">
                      <p class="char-name-text">PRICE</p>
                    </li>
                  </ul>

                  <ul class="yachts-char-tip-list">
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">41m (133ft)</p>
                    </li>
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">Benetti</p>
                    </li>
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">2025</p>
                    </li>
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">10 in 5 cabins</p>
                    </li>
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">€23,210,000</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="yachts-card">
            <div class="yachts-item-cont">
              <!-- Anna -->
              <div class="pic-yacht">
                <picture>
                  <source
                    srcset="
                      /img/yaht/yaht-anna1440.jpg    1x,
                      /img/yaht/yaht-anna1440-2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      /img/yaht/yaht-anna1280.jpg    1x,
                      /img/yaht/yaht-anna1280-2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      /img/yaht/yaht-anna-tab.jpg    1x,
                      /img/yaht/yaht-anna-tab-2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />

                  <img
                    srcset="
                      /img/yaht/yaht-anna-mob.jpg    1x,
                      /img/yaht/yaht-anna-mob-2x.jpg 2x
                    "
                    src="/img/yaht/yaht-anna-mob.jpg"
                    alt="Anna"
                    class="yachts-img"
                  />
                </picture>
              </div>
              <!--  -->
              <div class="sub-cont">
                <div class="yachts-title-cont">
                  <h3 class="yachts-item-title">BELLE ANNA</h3>
                  <span class="yachts-item-title-2">LUXURY YAHTS</span>
                </div>
                <div class="yachts-characteristics-cont">
                  <ul class="yachts-char-name-list">
                    <li class="yachts-char-name">
                      <p class="char-name-text">LENGTH</p>
                    </li>
                    <li class="yachts-char-name">
                      <p class="char-name-text">BUILDER</p>
                    </li>
                    <li class="yachts-char-name">
                      <p class="char-name-text">BUILT</p>
                    </li>
                    <li class="yachts-char-name">
                      <p class="char-name-text">GUESTS</p>
                    </li>
                    <li class="yachts-char-name">
                      <p class="char-name-text">PRICE</p>
                    </li>
                  </ul>

                  <ul class="yachts-char-tip-list">
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">50m(155ft)</p>
                    </li>
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">ISA</p>
                    </li>
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">2012</p>
                    </li>
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">12 in 6 cabins</p>
                    </li>
                    <li class="yachts-char-tip">
                      <p class="yachts-char-tip-text">€21,000,000</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <a class="our-yachts-btn" href="#rent">Yacht rental</a>
</section>
