
/* .about {
  margin: 0 auto;
  margin-top: -60px;

  max-width: 335px;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 24px;
  background-color: #fbfbfb;
}

.about-container-text {
  padding: 0;
  margin: 0;
}

.about-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1b414b;

  max-width: 295px;
  margin-bottom: 40px;
}

.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1b414b;
  max-width: 295px;
  margin-bottom: 20px;
}

.about-subtext {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
  max-width: 295px;
} 

.about-container-img {
  background-image: url(../img/about/about-mob.jpg);
  padding: 0;
} */

.about {
  margin: 0 auto;
  margin-top: -60px;
  border-radius: 24px;
  max-width: 335px;
  background-color: #fbfbfb;
}

.about-container-text {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.about-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1b414b;

  margin-bottom: 40px;
}

.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1b414b;

  margin-bottom: 20px;
}

.about-subtext {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #040306;

  opacity: 0.4;
}

.about-container-img {
  max-width: 335px;
  height: 395px;
  border-radius: 24px;
  background-color: #fbfbfb;

  background-image: url(../img/about/about-mob.jpg);
}

.about-img {
  border-radius: 24px;
}


@media screen and (min-width: 768px) {
  .about {
    max-width: 704px;
  }

  .about-container-text {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .about-title {
    font-size: 48px;
    margin-bottom: 50px;
    max-width: 536px;
  }

  .about-text {
    font-size: 23px;
    max-width: 389px;
  }

  .about-subtext {
    font-size: 13px;
    line-height: 115%;
    max-width: 385px;
  }
  
    .about-container-img {
      width: 704px;
      height: 470px;
      background-image: url(../img/about/about-tab.jpg);
    }
}

@media screen and (min-width: 1280px) {
  .about {
    max-width: 1180px;
  }

  .about-container-text {
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-title {
    max-width: 537px;
  }

  .about-text {
    max-width: 354px;
  }

  .about-subtext {
    max-width: 354px;
  }
}