.hero {
  padding: 0;
  background-image: linear-gradient(
      360deg,
      rgba(17, 19, 31, 0.8) 15.05%,
      rgba(17, 19, 31, 0.31) 75.3%,
      rgba(17, 19, 31, 0) 98.27%
    ),
    url('/img/hero/hero-mob.jpg');

  padding-top: 260px;
  padding-bottom: 302px;
  margin: 0 auto;
  min-width: 320px;
  max-width: 375px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.31) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url('/img/hero/hero-mob-2x.jpg');
  }
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  max-width: 335px;

  margin-bottom: 24px;

  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-text {
  max-width: 335px;

  margin-bottom: 38px;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
}

.hero-btn {
  display: block;

  min-width: 141px;
  height: 46px;

  padding: 14px 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;

  background-color: #1b414b;
  border-radius: 15px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.31) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url('/img/hero/hero-tab.jpg');

    padding-top: 280px;
    padding-bottom: 282px;
    max-width: 768px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          360deg,
          rgba(17, 19, 31, 0.8) 15.05%,
          rgba(17, 19, 31, 0.31) 75.3%,
          rgba(17, 19, 31, 0) 98.27%
        ),
        url('/img/hero/hero-tab-2x.jpg');
    }
  }

  .hero-title {
    max-width: 650px;

    font-size: 70px;
  }

  .hero-text {
    max-width: 597px;

    margin-bottom: 48px;

    font-size: 16px;
    line-height: 1.4;
  }

  .hero-btn {
    min-width: 179px;
    height: 52px;

    padding: 16px 40px;

    font-size: 18px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.31) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url('/img/hero/hero-desktop1280.jpg');

    padding-top: 235px;
    padding-bottom: 215px;
    max-width: 1280px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          360deg,
          rgba(17, 19, 31, 0.8) 15.05%,
          rgba(17, 19, 31, 0.31) 75.3%,
          rgba(17, 19, 31, 0) 98.27%
        ),
        url('/img/hero/hero-desktop1280-2x.jpg');
    }
  }

  .hero-title {
    max-width: 1001px;

    font-size: 80px;
  }
}

@media (min-width: 1440px) {
  .hero {
    background-image: linear-gradient(
        360deg,
        rgba(17, 19, 31, 0.8) 15.05%,
        rgba(17, 19, 31, 0.31) 75.3%,
        rgba(17, 19, 31, 0) 98.27%
      ),
      url('/img/hero/hero-desktop1440.jpg');
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          360deg,
          rgba(17, 19, 31, 0.8) 15.05%,
          rgba(17, 19, 31, 0.31) 75.3%,
          rgba(17, 19, 31, 0) 98.27%
        ),
        url('/img/hero/hero-desktop1440-2x.jpg');
    }
  }
}
