.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0E1823;
  padding-top: 16px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
  fill: #055545;
  padding-inline: 0;
}

.mob-menu-list {}

.mob-round-menu {
  border-radius: 8px;
  width: 91px;
  height: 40px;
  background-color: #1b414b;
  display: flex;
  /* margin-bottom: 4px; */
  justify-content: center;
  align-items: center;
  border: none;
  color: #fbfbfb;
}

.mob-round-menu:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}

.header-mob {
  /* width: 335px; */
  height: 42px;
  background-color: #ffffff;
  border: 1px solid #000;
  display: flex;
  border-radius: 8px;
  align-items: center;
  padding: 0 20px;
}

.header-txt-mob {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}

.mob-menu-link {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  /* color: #fbfbfb; */
}

.mob-menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  margin-top: 201px;

}

.mob-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}


.mob-item-icon {
  fill: #fbfbfb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-item-icon:focus {
  fill: rgba(251, 251, 251, 0.8);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .mob-menu {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .mob-menu {
    display: none;
  }
}