.rent-container {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 80px;
}

.rent-container:first-child {
  margin: 0 auto;
}

.yacht-photo-box {
  border-radius: 24px;
  overflow: hidden;
  max-width: 335px;
  width: 100%;
}

.rent-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.rent-form-label {
  display: block;
  height: 42px;
  margin-bottom: 18px;
}

.rent-form-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding-left: 18px;
  width: 100%;
  height: 42px;
  outline: transparent;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-form-textarea-label {
  display: block;
  height: 108px;
  margin-bottom: 40px;
}

.rent-form-textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding-left: 18px;
  padding-top: 18px;
  height: 108px;
  width: 100%;
  outline: transparent;
  background-color: transparent;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-form-input::placeholder,
.rent-form-textarea::placeholder {
  color: rgba(251, 251, 251, 0.4);
}

.rent-form-input:focus,
.rent-form-input:hover,
.rent-form-textarea:focus,
.rent-form-textarea:hover {
  border: 1px solid rgba(251, 251, 251, 0.5);
}

.rent-form-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 15px;
  padding: 14px 44px;
  max-width: 122px;
  height: 46px;
  margin-bottom: 40px;
  background: #1b414b;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-form-btn:hover,
.rent-form-btn:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

@media screen and (min-width: 768px) {
  .rent-container {
    margin-bottom: 150px;
  }

  .rent-form-container {
    margin: 0 auto;
    width: 473px;
  }

  .yacht-photo-box {
    max-width: 704px;
  }

  .rent-title {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .rent-form-text {
    max-width: 473px;
  }

  .rent-form-label {
    height: 54px;
  }

  .rent-form-input {
    font-size: 14px;
    line-height: 1.3;
    height: 54px;
  }

  .rent-form-textarea-label {
    height: 116px;
    margin-bottom: 50px;
  }

  .rent-form-textarea {
    font-size: 14px;
    line-height: 1.3;
    height: 116px;
  }

  .rent-form-btn {
    font-size: 18px;
    line-height: 1.1;
    padding: 18px 75px;
    max-width: 194px;
    height: 56px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .rent-container {
    display: flex;
    flex-direction: row;
  }

  .rent-form-container {
    margin-left: 50px;
    width: 472px;
  }

  .yacht-photo-box {
    max-width: 658px;
    max-height: 534px;
  }

  .rent-form-text {
    max-width: 472px;
  }

  .rent-form-btn {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .yacht-photo-box {
    max-width: 768px;
  }
}
