@import url('./main-styles.css');
@import url('./reset.css');
@import url('./visually-hidden.css');
@import url('./container.css');
@import url('./header.css');
@import url('./mobile-menu.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./our-yachts.css');
@import url('./advantages.css');
@import url('./rent-and-yacht.css');
@import url('./reviews.css');
@import url('./footer.css');
